.core-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border: 1px solid aquamarine;
  margin: auto;
}
.tech-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border: 1px solid aquamarine;
  margin: auto;
}
