h1 {
  color: aquamarine;
  margin: 0;
  padding: 0;
}

body {
  color: crimson;
  background: whitesmoke;
  margin: 0;
}
header {
  color: black;
}
nav {
  background-color: black;
  color: gray;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav {
  background-color: lightgray;
  border-color: lightgray;
  color: black;
  justify-content: space-between ;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  margin: 20px 20px 20px 20px;
  justify-content: space-between;
  padding: auto;
  display: flex;
}

.nav-links li {
  margin-right: 20px 20px 20px 20px;
  position: relative;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: crimson;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: whitesmoke;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.smaller-image {
  width: 300px;
  height: relative;
}

.center-align-text {
  text-align: center;
  margin: auto;
  max-width: 700px;
}

.nav-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: space-between;
  Item
}

.nav-links {
  margin-top: 20px;
}

.nav-links li {
  margin: 0;
  margin-bottom: 10px;
}

.sub-container {
width: 100%;
margin-left: auto;
margin-right: auto;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

@media (min-width: 475px) {
  .sub-container: max-width: 475px;
}
@media (min-width: 640px) {
  .sub-container: max-width: 640px;
}
@media (min-width: 768px) {
  .sub-container: max-width: 768px;
}
@media (min-width: 1024px) {
  .sub-container: max-width: 1024px;
}
@media (min-width: 1280px) {
  .sub-container:max-width: 1280px;
}
@media (min-width: 1536px) {
  .sub-container: max-width: 1536px;
}